<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8"/>
      <title>Slim 3</title>
      <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
      <style>
        html{
          margin: 0;
          padding: 0;
        }
        body {
            margin: 5px 0 0 0;
            padding: 0;
            width: 60%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #aaa;
            font-size: 18px;
        }

        h1 {
            color: #719e40;
            letter-spacing: -3px;
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            font-weight: 200;
            margin-bottom: 10px;
        }
        table{
          margin: 10px 0;
        }
        table td{
          padding:2px 3px;
        }
        table th{
          text-align: left;
        }
        #search{
            text-align: right;
        }
        a{
          color: #333;
          text-decoration: none;
          background-color: #ccc;
          padding: 8px;
          margin:10px;
        }
        form{
          margin-top:20px;
        }
      </style>
  </head>
  <body>
      <h1>Empleados</h1>
      <a href=".">Volver</a>
      <table>
      <?php
        if($employee==''){
          echo '<tr><td>No se encontró el empleado</td></tr>';
        }else{
          foreach ($employee as $key => $value) {
              echo '<tr><th>Nombre</th><td>'.$value->name.'</td></tr>
              <tr><th>Email</th><td>'.$value->email.'</td></tr>
              <tr><th>Teléfono</th><td>'.$value->position.'</td></tr>
              <tr><th>Dirección</th><td>'.$value->position.'</td></tr>
              <tr><th>Posición</th><td>'.$value->position.'</td></tr>
              <tr><th>Salario</th><td>'.$value->salary.'</td></tr>';
          }
        }?>
      </table>
  </body>
</html>
