<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8"/>
      <title>Slim 3</title>
      <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
      <style>
        html{
          margin: 0;
          padding: 0;
        }
        body {
            margin: 5px 0 0 0;
            padding: 0;
            width: 60%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #aaa;
            font-size: 18px;
        }

        h1 {
            color: #719e40;
            letter-spacing: -3px;
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            font-weight: 200;
            margin-bottom: 10px;
        }
        table{
          margin: 10px 0;
        }
        table td{
          padding:2px 3px;
        }
        table th{
          text-align: left;
        }
        #search{
            text-align: right;
        }
      </style>
  </head>
  <body>
      <h1>Empleados</h1>
      <form>
        <div><span>Buscar</span>
          <span id="search">Email: <input type="text" id="email" name="email"><input type="submit" value="Submit"></span>
        </div>
      </form>
      <table>
      <tr><th>Nombre</th><th>Email</th><th>Posición</th><th>Salario</th></tr>
      <?php
          foreach ($employee as $key => $value) {
              echo '<tr><td><a href=./employees/'.$value->id.'>'.$value->name.'</td><td>'.$value->email.'</td><td>'.$value->position.'</td><td>'.$value->salary.'</td></tr>';
          }?>
      </table>
  </body>
</html>
